@use "../variables" as *;

nav {
  background-color: $dark-cyan;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding: 0;
    margin: 0;

    li {
        a {
          padding: 0.6rem 1.2rem;
          border-radius: 8px;
          background-color: $light-coral;
          color: $wheat-light;
          text-decoration: none;
          font-family: $font-headline;
          font-weight: bold;
          box-shadow: 2px 2px 0 $dark-slate-gray;
          text-shadow: 1px 1px 0 $jasmine;
          transition: all 0.2s ease;
  
          &:hover {
            background-color: $chili-red;
            box-shadow: 2px 2px 0 $dark-cyan;
          }
  
          &.active {
            background-color: $chili-red;
            box-shadow: 2px 2px 0 $dark-cyan;
          }
        }
      }
  
  }
}

