@use "../variables" as *;


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    .sky {
      position: relative;
      width: 100%;
      height: 200px;
      background-color: $dark-cyan;
      overflow: hidden;
  
      .cloud {
        position: absolute;
        width: 300px;
      }
    }
    .content {
        background-color: $wheat;
        padding: 4rem 2rem;
        min-height: calc(100vh - 200px);
        width: 100%;
        z-index: 1;
    
        h1 {
          color: $chili-red;
          text-shadow: 2px 2px 0 $jasmine;
          margin-bottom: 1rem;
        }
    
        p {
          margin-bottom: 2rem;
        }
      }
    }