
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");


$font-headline: "Press Start 2P", cursive;
$font-body: "VT323", monospace;



$chili-red: #D4432Bff;
$wheat: #E8D3A8ff;
$hunyadi-yellow: #EBAC4Eff;
$jasmine: #E8C86Fff;
$dark-slate-gray: #2D484Dff;
$jungle-green: #59A380ff;
$asparagus: #589643ff;
$light-coral: #F2777Aff;
$dark-cyan: #43989Eff;
